.git
node_modules
server.dist.js
npm-debug.log
_CACHE
.secrets

# not a fan of this
/*.woff

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
